Django==5.1.14
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
django-pandas==0.6.7
deepface==0.0.93
imutils==0.5.4
matplotlib==3.8.4
seaborn==0.13.2
Pillow==10.3.0
opencv-python==4.9.0.80
scikit-learn==1.5.0
tf-keras==2.20.1
numpy>=1.26.0,<2.0.0
pandas==2.3.3
scipy==1.16.3
PyYAML==6.0.2
pytest-playwright==0.4.4
