name: pre-commit

on:
  pull_request:
    paths-ignore:
      - ".github/workflows/**"
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
